.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #cc00ff;
}

@media (max-width: 1024px) {
  .swiper-slide{
    width: 350px;
    height: 350px;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

/* Second Swiper */

.swiper_2 {
  width: 100%;
  height: auto;
}

.swiper_2 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
  border: initial
}

.swiper-slide_2 img {
  display: block;
  width: 100%;
}